[2018-05-17 05:44] jerriep opened #1 "Add column headers"
Display column headers for output

[2018-05-17 05:45] jerriep opened #2 "Look into using MSBuild dependency graph to detect packages"
e.g.

[code]

See https://github.com/jaredcnance/dotnet-status/issues/5#issuecomment-313429533 for more info

[2018-05-17 05:47] jerriep opened #3 "Colors not displaying correctly on iTerm on macOS"
The second third column should display some of the items in blue. Not showing up correctly on iTerm on macOS:

<img width="1082" alt="screen shot 2018-05-17 at 12 46 38" src="https://user-images.githubusercontent.com/1006420/40158750-5c64c7d6-59d0-11e8-9b2f-5b2d60ca7cf9.png">

[2018-05-17 06:01] jerriep opened #4 "Allow user to specify pre-release option"
At the moment the tool determines whether it should look for pre-release packages based on whether the installed package itself is a pre-release package. So if the version you have referenced is a pre-release version, it will look for newer pre-release versions. If not, it will look for stable versions.

So, add a `--pre-release` option with the following possible values:

Option | Behaviour
-----

[2018-05-17 06:03] jerriep opened #5 "Lock to major version"
Lock to the current major version. So only will show newer packages for the current major version and won't flag a package as outdated when the newer version is a major version update

See discussion at https://www.reddit.com/r/dotnet/comments/8k1d4v/a_net_core_cli_global_tool_to_display_outdated/dz46egs

[2018-05-17 06:04] jerriep opened #6 "Add interactive mode"
Add interactive mode which prompts user to update, e.g.

[code]

See discussion at https://www.reddit.com/r/dotnet/comments/8k1d4v/a_net_core_cli_global_tool_to_display_outdated/dz46egs

[2018-05-17 06:26] jerriep opened #7 "Detect NuGet feeds from NuGet config"
Currently, the tool only uses the public nuget.org feed. It should, however look at the NuGet.config file and use that list of sources:
https://docs.microsoft.com/en-us/nuget/tools/cli-ref-list

This file can also exist on project level. See https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior

[2018-05-17 06:28] jerriep opened #8 "Allow option to specify Nuget feed to use"
Should add an option similiar to the `--source` option of the [dotnet add package](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-add-package) command to specify the NuGet feed to use

[2018-05-17 11:34] mattwoberts opened #10 "Error running against local solution"
I'm afraid I can't share the project file(s) with you - just dumping this here for now:

[code]

[2018-05-17 14:06] mattwoberts commented on #3
I'm on OSX, and I see the colors (zsh in item):

![image](https://user-images.githubusercontent.com/109196/40182708-e89c88ca-59e3-11e8-8ee8-871bebe3b59f.png)

[2018-05-17 14:08] mattwoberts commented on #10
Related to this I guess?

https://github.com/jerriep/dotnet-outdated/issues/7

[2018-05-17 23:59] jerriep commented on #3
Issue was related to my iTerm color scheme which had an override for the default terminal colors.

[2018-05-17 23:59] #3 closed

[2018-05-18 06:25] #10 closed

[2018-05-18 06:43] #1 closed

[2018-05-18 07:41] #4 closed

[2018-05-18 07:51] jerriep commented on #7
The list of sources is returned as part of the dependency graph. This can be handled as part of #2, instead of having to roll our own solution to determine the sources.

[2018-05-18 07:57] jerriep commented on #2
For reference:
https://github.com/NuGet/NuGet.Client/blob/1fba68a876c0a23ff99f563438a45945988c817b/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L114

[2018-05-18 08:47] jerriep commented on #5
The dependency graph (#2) already has some understanding of version ranges. We need to implement that first, as we can then piggyback on top of that for allowing the user to override the version ranges and locking it to a major version

[2018-05-18 09:13] jerriep commented on #10
Hey @mattwoberts , version 0.2.0 should solve your error message. Update using the following command:

[code]

I hope to address the issue of private feeds in version 0.3.0

[2018-05-18 15:46] xt0rted opened #11 "Crashes when run against a non-core project"
Just ran this against the wrong project folder and instead of a friendly message saying this wasn't a .net core project I was greeted with a giant stack trace in my console.

[code]

[2018-05-19 00:39] jerriep commented on #11
Thank you for reporting this. It should definitely give a more helpful message in this case.

[2018-05-23 20:55] mattwoberts commented on #10
Cheers for that 👍

[2018-05-24 04:30] #2 closed

[2018-05-24 13:55] #7 closed

[2018-05-28 08:10] #5 closed

[2018-05-28 11:50] jerriep commented on #10
@mattwoberts Version 0.3.0 should pick up all package feeds you have configured correctly. Would you mind giving it a shot and see if it works with your private MyGet feed?

[2018-05-30 18:51] DamianEdwards opened #13 "Support detecting outdated transitive dependencies"
Love this tool! It would be even better if it supported detecting outdated dependencies of my dependencies (transitive dependencies).

E.g. detect that *My.Great.Lib* which is transitively referenced is not using the latest version:
[code]

[2018-05-31 02:29] jerriep commented on #13
Yeah, this one would be great. I just need to figure out how to tell MS Build to generate the dependency graph to include all those transitive dependencies as well...

But I actually need to figure that out in any case for another tool I had in mind 😉

[2018-05-31 07:41] jerriep commented on #13
Some notes:

During restore, a `project.assets.json` file is created. This stores the complete graph of the actual dependencies which were restored. Maybe we can piggy-back on this?

Use this search to try and discover more: https://github.com/search?utf8=%E2%9C%93&q=org%3Adotnet+%22project.assets.json%22&type=Code

[2018-05-31 13:33] PaitoAnderson commented on #8
Just to add to this, could it perhaps read the `.nuget/nuget.config` file and use the feeds there? Here's what happens to me when checking for updates for a package on a private feed.

[code]

[2018-05-31 13:44] PaitoAnderson opened #15 "Issue showing unlisted package update"
Unless I am reading this wrong it's showing me version 5.0.0 of [MediatR](https://www.nuget.org/packages/MediatR) even though the installed version isn't pre-release. I also tried with `-pr Never`, but it didn't help.
[code]

[2018-05-31 13:49] PaitoAnderson opened #16 "Option to only show outdated packages"
An option to only show outdated packages might be nice, just like `npm outdated`.

[2018-05-31 13:52] jerriep commented on #8
@PaitoAnderson Actually, it should pick it up automatically already. I have tested against a private MyGet feed and it works. I think this may be related to something else related to the Telerik NuGet feed.

Please run the following command for me from that project directory:

[code]

Check the resulting `graph.dg` file and see whether the Telerik feed is listed under the `sources` node for the pr

[2018-05-31 14:08] jrr opened #17 "support .fsproj"
`dotnet outdated` accepts:
- directory containing a .sln
- .sln file
- directory containing a .csproj
- .csproj file

it does not currently accept:
- directory containing .fsproj
- .fsproj file

It should! (PR incoming)

Interestingly, it will happily pick up a .fsproj from a .sln.

[2018-05-31 14:11] PaitoAnderson commented on #8
Oh ok, I didn't mean to hijack this issue then.

Interestingly enough, it's not listed:
[code]

I wonder if that's more of a problem with my solution/project setup then:
[code]

[2018-05-31 14:30] jerriep commented on #8
No worries, you did not hijack the issue 😉 If there is an issue I would like to get it solved. One thing that is a bug for sure is that there is a bug in that a NullReferenceException can occur when I cannot resolve the package reference for some reason.

At the very least I should handle that better. I will create a separate issue for that.

As for why your Telerik feed is not showing up, that is

[2018-05-31 14:33] jerriep opened #19 "Handle unresolved package references"
I, because of whatever circumstances we cannot resolve a package reference, the tool currently throws a `NullReferenceException` exception. This situation should be handled more elegantly.

See https://github.com/jerriep/dotnet-outdated/issues/8#issuecomment-393531316

[2018-05-31 14:56] PaitoAnderson commented on #8
I'm pretty sure I just did the `NuGet Sources Add` command, as described here:
https://docs.telerik.com/aspnet-mvc/getting-started/nuget-install

However I might have found the issue, this package is actually saved locally:
![image](https://user-images.githubusercontent.com/4108718/40789657-f0d84726-64c0-11e8-9af6-09b9e42abbc5.png)

I hope this helps...

[2018-05-31 15:28] jerriep commented on #8
@PaitoAnderson Yeah, this seems like an interesting one.

It will require some investigation, so I would like to ask you yo please open a new issue for this. Also, please add the information you have already supplied again on that issue so we can try and figure it out.

Apologies for the double work, but it will be easier to track this as a separate issue as it is different from the original purpo

[2018-05-31 15:49] jerriep commented on #15
This behaviour is correct. The version number 5.0.0 is not a pre-release. It is a release version.

Version numbers are made up of Major Version, Minor Version and Patch version, e.g. 4.1.0, or 5.0.0. It can however also contain an additional label which will make it a pre-release version. The version numbers 5.0.0-beta1 or 5.0.0-rc1 are, for example, pre-release versions since they contain an add

[2018-05-31 15:56] jerriep commented on #16
Yes, this will be useful. Thanks for the suggestion.

[2018-05-31 16:04] PaitoAnderson commented on #15
Sorry, you are correct, it's not pre-release, but it is unlisted on nuget:

![image](https://user-images.githubusercontent.com/4108718/40793539-abae6d10-64ca-11e8-84f9-388657bca96d.png)
https://www.nuget.org/packages/MediatR/5.0.0

[2018-06-01 01:31] jerriep commented on #15
Ah yes, this is a problem then. Will look into it, thanks!

[2018-06-02 04:27] VahidN opened #20 "Support multiple TargetFrameworks"
`dotnet outdated` reports the same updated version for multiple TargetFrameworks
[code]
Here the last `Microsoft.AspNetCore.Http.Extensions` is not compatible with `netstandard1.6` anymore.

[2018-06-02 04:40] VahidN opened #21 "Support DotNetCliToolReference"
`dotnet outdated` doen't report anything about `DotNetCliToolReference` updates:
[code]

[2018-06-03 07:10] #17 closed

[2018-06-03 13:33] damianh opened #22 "Does not work with secured feeds"
When run for the first time on a project received the below exception.

[code]

[2018-06-03 15:33] jerriep commented on #22
@damianh Yes it seems there is a current issue with using feeds which require Basic authentication as also mentioned in #8.

For now, the workaround is to use the pre-authenticated MyGet URL.

[2018-06-03 15:34] jerriep commented on #8
@PaitoAnderson You bug is now tracked with #22

[2018-06-04 21:29] anangaur commented on #16
I think that should be the default :) btw, https://github.com/NuGet/Home/issues/5762 is `up for grabs` :-)

[2018-06-05 00:18] jerriep commented on #16
@anangaur Yes, in hindsight it would have been better for it to be the default. However, I am reluctant to change the default behaviour now. What I am considering is adding some sort of settings file to allow developers to override default settings.

Regarding that other issue: I have already developed this tool. I have no intention of doing it twice. Also, here I can decide where I want to take t

[2018-06-05 14:30] Orgbrat opened #23 "Fails to regnonize project as .Net Core"
Decided to try the tool but on my first try I am getting the below error and not sure what is happening as the is a ASP.NET Core 2.1 project.. Any ideas?

PM> dotnet tool install --global dotnet-outdated
You can invoke the tool using the following command: dotnet-outdated
Tool 'dotnet-outdated' (version '1.0.0') was successfully installed.
PM> dotnet-outdated
dotnet-outdated : Unable to process th

[2018-06-05 14:36] jerriep commented on #23
Any chance you can post the `.sln` and `.csproj` files here? No need for the actual source code files...

[2018-06-05 15:10] Orgbrat commented on #23
No problem here they are..

[src.zip](https://github.com/jerriep/dotnet-outdated/files/2072922/src.zip)

[2018-06-06 01:42] jerriep commented on #23
@Orgbrat The issue was related to the space on your actual path name. Internally, **dotnet-outdated** runs MSBuild and passes it the full path to your project. The problem was that I did not cater for paths with spaces in them, so MSBuild saw it as separate parameters and therefore the _Unknown switch_ error message.

I fixed this by ensuring the path is surrounded by quotes and the update will be

[2018-06-06 09:00] jerriep commented on #13
Also see https://natemcmaster.com/blog/2017/12/21/netcore-primitives/

Piggybacking off of the `*.deps.json` could be an option

[2018-06-07 08:05] #13 closed

[2018-06-11 08:47] #20 closed

[2018-06-13 04:28] jerriep commented on #20
@VahidN Version 1.1.0 is avaliable on NuGet and it solves this problem.

[2018-06-13 04:29] jerriep commented on #15
@PaitoAnderson Version 1.1.0 is avaliable on NuGet and it solves this problem.

[2018-06-13 04:29] jerriep commented on #13
@DamianEdwards  Version 1.1.0 is avaliable on NuGet and it adds this feature

[2018-06-13 04:29] jerriep commented on #23
@Orgbrat  Version 1.1.0 is available on NuGet and it solves this problem.

[2018-06-13 04:30] jerriep commented on #17
@jrr Version 1.1.0 is available on NuGet and it adds this feature. Thanks again for your PR!

[2018-06-13 04:39] DamianEdwards commented on #13
Nice!!

[2018-06-14 15:48] PaitoAnderson opened #26 "Unhandled Exception in 1.1.0"
Let me know if you want any more details. Thanks!

[code]

[2018-06-14 15:48] PaitoAnderson commented on #15
Thank you sir!

[2018-06-15 01:42] jerriep commented on #26
@PaitoAnderson Any chance you can post the offending `csproj` here? Just the project file - I do not need any of the source code.

[2018-06-15 16:32] BradBarnich commented on #26
We ran into this too (when running with `-t`), but the offending package was privately hosted. So likely a variant of #22

[2018-06-20 08:53] #26 closed

[2018-06-20 08:54] #19 closed

[2018-06-20 10:10] #22 closed

[2018-06-21 05:18] jerriep commented on #22
@damianh I have pushed version 1.2.0 to NuGet which handles secure feeds much better. Please read the [working with secure feeds](https://github.com/jerriep/dotnet-outdated#working-with-secure-feeds) section in the readme.

[2018-06-21 06:42] jerriep commented on #8
Closing issue as **dotnet-outdated** now respects the normal [NuGet configuration behaviour](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior). If an "extra" NuGet feed is to be specified, it can be added in the project-level Nuget.config file.

@PaitoAnderson BTW, version 1.2 now [supports secure feeds](https://github.com/jerriep/dotnet-outdated#working-with-secu

[2018-06-21 06:42] #8 closed

[2018-06-23 19:07] damianh commented on #22
Lovely!

[2018-06-26 11:12] n-sidorov opened #27 "NuGet packages without dependencies are not resolved"
If NuGet package does not have any dependencies declared `dotnet-outdated` cannot resolve it's version.

Example of such packages are Roslyn Analyzers (like https://www.nuget.org/packages/Microsoft.NetCore.Analyzers).

Example of output with Analyzers referenced in project
![image](https://user-images.githubusercontent.com/3368120/41907705-96da704a-7939-11e8-9f11-c6ac4f50bb68.png)

[2018-06-27 13:33] shatl opened #28 "Add output redirection support"
Program output redirection does not work.

Please add an option to output as plain text (no color)

[code]

*Version:* 1.2.0-rtm.61+19ab4273e7c29adf600f06e312dede25333ac14b

[2018-06-27 13:38] shatl opened #29 "Support parseable output"
Please add option to display packages in easy to parse format.

I'm looking to use dotnet-outdated to generate reports which can be further processed by scripts.

Ideally it should produce plain text similar to this:
`Project;Package;CurrentVersion;Status;LatestVersion`

where _Status_ is Current or Outdated

Also depends on #28

P.S. Thanks for a great tool

[2018-06-29 06:40] OskarKlintrot opened #30 "Can't install without specifying version"
Not sure what is going on or if it is intended or not but I couldn't install this without specifying the version. I do have a private nuget feed in my global `package.json`, could that be the issue?

[code]

[2018-06-29 06:54] jerriep commented on #30
The current version is not a pre-release:
https://www.nuget.org/packages/dotnet-outdated

Looking at the error output it seems to rather be a case that your Nuget configuration is wrong. it is trying to install from the Nuget source `https://<my company>.pkgs.visualstudio.com/DefaultCollection/_packaging/<private project>/nuget/v3/index.json`, which I assume is one of your own projects, right?

Pl

[2018-06-29 06:56] OskarKlintrot commented on #30
[code]

[2018-06-29 07:00] jerriep commented on #30
Your sources seem to be correct. It could also be that you perhaps have issues connecting from your computer to the Nuget website.

This problem is however not anything I have control over. You will have to ask on either the Nuget or .NET Core CLI repositories for assistance.

[2018-06-29 07:00] #30 closed

[2018-06-29 08:17] OskarKlintrot commented on #30
Just tried to install another dotnet tool, same issue.

[2018-07-05 18:14] shanselman opened #31 "coverlet.msbuild"
For some reason, my reference to coverlet.msbuild is 2.0.0 and outdated doesn't find 2.0.1 even though it's available. https://www.nuget.org/packages/coverlet.msbuild/ shows 2.0.1

[code]

[2018-07-05 20:20] shanselman opened #32 "Cannot resolve latest version - not visible on PowerShell's default colors"
![image](https://user-images.githubusercontent.com/2892/42346056-256df23c-8056-11e8-97f6-9360172d0d4e.png)
(I'm looking at the code now)

[2018-07-06 01:04] davidcarson commented on #23
Might be more space-related issues. I'm getting "Are you sure this is a valid .NET Core or .NET Standard project type?" for every project I throw at it, with this MSBuild error:

`MSBUILD : error MSB1008: Only one project can be specified.`
`Switch: Carson\AppData\Local\Temp\tmpAFA9.tmp`

My Windows username is "David Carson" so the temp file path is `C:\Users\David Carson\AppData\Local\Temp\tmpAF

[2018-07-06 03:58] #32 closed

[2018-07-06 04:13] #23 closed

[2018-07-06 04:29] jerriep commented on #23
@davidcarson Thank you for reporting this. The fix will be in `v1.3.0`. If you are in a hurry to try it out, you can install the pre-release version from MyGet using the following command:

[code]

[2018-07-06 04:51] jerriep opened #36 "Resolving current references is case sensitive"
When the case of a package reference in the projects file is different from the correct casing as defined on NuGet, we incorrectly state that we cannot resolve the referenced version:

![image](https://user-images.githubusercontent.com/1006420/42360385-b95bbf4e-8112-11e8-9b1e-29de2883fabd.png)

I.e. it works for `Newtonsoft.Json` but not for `newtonsoft.json`

[2018-07-06 04:53] #36 closed

[2018-07-06 04:59] jerriep commented on #31
Related to #27

[2018-07-06 05:06] jerriep commented on #27
Issue seems to be stemming from packages which does not contain actual library files, e.g.

![image](https://user-images.githubusercontent.com/1006420/42360722-ccbc62a8-8114-11e8-9ec6-81ffc92faf64.png)

and

![image](https://user-images.githubusercontent.com/1006420/42360742-e0d73c18-8114-11e8-94b2-947a6f9bc348.png)

So, when I check to see whether the package can be installed into the current fra

[2018-07-06 05:32] davidcarson commented on #23
@jerriep works perfectly now, you're a champion!

[2018-07-06 05:54] jerriep commented on #23
Great stuff! Thanks for your work on identifying the underlying issue.

[2018-07-06 05:58] wcoder opened #37 "The command name in installer message is confusingly"
## Steps to reproduce

- execute `dotnet tool install --global dotnet-outdated`
- after success install: ![](https://user-images.githubusercontent.com/766193/42362051-256c08c4-80fa-11e8-9954-53037d5066cb.png)
- `dotnet-outdated` - command not found, because used command `dotnet outdated`

[2018-07-06 06:02] jerriep commented on #37
This is not an issue. Well, at least not on my side. That message is printed by the .NET Core CLI. From my side, the instructions in the readme file makes it very clear that you need to run the command using the `dotnet outdated` command.

Regarding that message, you will need to raise an issue on the [.NET Core CLI repo](https://github.com/dotnet/cli).

[2018-07-06 06:02] #37 closed

[2018-07-06 06:15] #27 closed

[2018-07-06 06:15] #31 closed

[2018-07-06 08:28] jerriep commented on #31
@shanselman Version 1.3.0 is not available with the fix for this.

[2018-07-06 08:28] jerriep commented on #23
@davidcarson Version 1.3.0 is now available with the fix for this.

[2018-07-06 08:29] jerriep commented on #32
@shanselman  Version 1.3.0 is now available with the fix for this. Thanks again for the PR

[2018-07-06 08:42] skolima opened #38 "Only first nuget source from nuget.config is used"
It's quite common to have both a public feed url and a private in-org repository configured - however, dotnet-outdated will only check the first source configured.

That's because https://github.com/jerriep/dotnet-outdated/blob/master/src/DotNetOutdated/Services/NuGetPackageInfoService.cs#L55 doesn't allow for multiple sources to be used.

[2018-07-06 08:45] skolima commented on #38
yeah, ignore me please

[2018-07-06 08:45] #38 closed

[2018-07-06 08:50] samjudson opened #39 "IOException thrown when ran inside Package Manager Console"
Hi

I get an exception throw on line 225 of Program.cs (`int currentLineCursor = Console.CursorTop;`) when I run the command inside the Package Manager Console inside of Visual Studio.

[code]

It works fine if run inside a separate Powershell window, or a Windows Command Prompt window.

[2018-07-06 08:58] jerriep commented on #38
No worries. It should work with all the configured sources. If you find a case where it doesn't, please let me know.

[2018-07-06 09:01] jerriep commented on #39
Yeah, I think Package Manager Console is not a "proper" console with all the features a normal console should have. I will investigate, but I am not sure this is something I would be willing to put the time and effort into fixing.

[2018-07-06 11:44] thomaslevesque commented on #16
I just gave this a try, and it's harder than I imagined. The difficulty comes from the fact that `dotnet-outdated` writes what it does as it's doing it. So the name of the package is displayed before actually checking if it's up-to-date. So if it's up-to-date, the line needs to be deleted. So far so good, and it works fine.

Problems start to happen when the `--transitive` option is set. In this c

[2018-07-06 11:57] thomaslevesque commented on #16
(in fact, I can no longer reproduce the issue with ConEmu, so my solution seems to be working... probably needs more tests, though)

[2018-07-06 12:01] jerriep commented on #16
@thomaslevesque I want to handle this and #6 at the same time.

My idea was to not display the individual progress as each assembly is scanned. Just simply display a generic "Busy checking dependencies..." status message. Then at the end, after the process was completed, to just display the list with the summary of outdated packages.

The reason I want to do this is that I want to display the repo

[2018-07-06 12:12] thomaslevesque commented on #16
@jerriep, it totally makes sense, and would remove the problem I was having.

[2018-07-06 12:14] jerriep commented on #16
Cool. If you want to put something like that together, I would be interested in the PR ;)

Don't worry about the part in #6, if you can just do the work described in this issue it would be good for now.

[2018-07-06 12:40] jerriep commented on #16
Also, in hindsight I think I must eat humble-pie and admit that @anangaur was correct in stating that this should be the default. The current output can become quite difficult to comprehend - especially when you have a solution with many projects or if you are scanning transitive dependencies.

All the developer is really interested in is to know which packages are outdated and which projects are

[2018-07-06 12:45] thomaslevesque commented on #16
Do you mean grouping by package instead of by project? Or just the "Busy checking dependencies" part?

[2018-07-06 12:59] jerriep commented on #16
Basically to just print out a summary at the end which displays just the outdated packages. And for each package, underneath the package name, displays the projects which are affected.

But this can become tricky, because different projects can reference different versions of the package.

Newtonsoft.Json - v11.0.3 available
- DotNetOutdated (referencing v10.0.3)
- DotNetOutdated.Tests (referencin

[2018-07-06 13:01] samjudson commented on #39
I think just wrapping the offending lines in a try/catch usually does the trick ;)

[2018-07-06 13:03] jerriep commented on #39
Running the command from a proper console also does the trick 😉

[2018-07-06 13:05] thomaslevesque commented on #16
Well, we could display the results like this:

[code]

[2018-07-06 13:14] jerriep commented on #16
One more twist is that different latest versions may be applicable for the different target frameworks, e.g.

![image](https://user-images.githubusercontent.com/1006420/42380563-8e33343c-8158-11e8-9e38-661baf967b21.png)

So in this case, the latest version for .NET Standard 1.6 is v1.1.2, but for .NET Standard 2.0, the latest version is v2.1.1.

So the following may make more sense for the summary

[2018-07-06 13:35] jtsom commented on #39
A data point - trying to run the command in a Git Bash window shows the same exception. (I have this set as my default in VS Code, so it limits use of the command - having to launch Powershell or a cmd window just to run it.)

[2018-07-06 13:46] jerriep commented on #39
Interesting. I did not use Git Bash, only Windows 10 Bash where it worked successfully.

In any case, there is work coming down the pipeline which changes the way the progress update is being handled and will probably make this issue not applicable anymore. Therefore, this is not something I will give attention to now.

[2018-07-06 20:07] tylerohlsen opened #40 "IOException thrown when piping output to a file in Windows"
From a Windows Command Prompt, I get the following exception thrown when running the command: `dotnet outdated > outdated.txt`

[code]

[2018-07-06 20:27] TravisEz13 opened #41 "Error on macOS about libhostfxr.dylib"
[code]

[code]

[2018-07-09 00:14] jerriep commented on #40
Duplicate of #28

[2018-07-09 00:17] jerriep commented on #41
@TravisEz13 It appaears to me as though this may be related to the version of the CLI you are running. Global tools are designed for use with .NET Core 2.1, but from the output above it appears you are using a version earlier than that (2.0.2).

Are you perhaps using [a global.json file](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json) to specify an earlier version of the SDK?

Plea

[2018-07-09 09:47] dmagnanimo opened #42 "Cannot resolve latest version from private Nuget package source"
I am using a private server that stores a variety of nuget packages and i noticed
the problem described in the title above.
Digging through your source code i noticed that the method `GetAllVersions ` inside `NuGetPackageInfoService` does not add to the return, versions coming from the object of type **PackageSearchMetadataV2Feed** how can i resolve this?

[2018-07-09 11:01] jerriep commented on #42
Please give me more information on what sort of private feed this is. Where is it hosted?

[2018-07-09 11:08] dmagnanimo commented on #42
The server where my nuget packages are hosted, is a Windows Server 2016, v1607

[2018-07-09 12:02] jerriep commented on #42
But how is it hosted? What sort of NuGet server are you using?

[2018-07-09 15:23] dmagnanimo commented on #42
I am using the latest version of this library: https://github.com/joelverhagen/NuGet.Server

[2018-07-10 00:15] jerriep commented on #42
OK, will look into it when I get a chance

[2018-07-10 04:31] jerriep commented on #39
The test for output redirection I did in 44f41c25989d79912a6bbbba06d791bf406ca708 fixed this as well.

[2018-07-10 04:31] #39 closed

[2018-07-10 04:32] jerriep commented on #16
@thomaslevesque Any luck with this one?

I did a commit today to fix some output redirection issues. Please ensure you do a rebase please.

[2018-07-10 08:20] thomaslevesque commented on #16
@jerriep I haven't found time to really work on it yet.

I have a question, though: in the proposed output format, how would transitive dependencies be shown?

[2018-07-10 10:35] jerriep commented on #16
@thomaslevesque If you haven't started, mind if I pick it up instead? I have time on my hands atm and can get going with this

Yes, for transitive dependencies we should have some sort of indicator. Maybe a [T] or something like that after the package name.

[2018-07-10 11:07] thomaslevesque commented on #16
@jerriep sure, go ahead!

[2018-07-10 15:16] thoemmi commented on #42
I experience the same issue with AppVeyor feeds, e.g. the feed for GitVersion packages https://ci.appveyor.com/nuget/gitversion-8nigugxjftrw

I already have a solution and will create a PR.

[2018-07-11 02:07] #42 closed

[2018-07-11 08:40] jerriep commented on #41
@TravisEz13 Did you manage to sort this out?

[2018-07-11 13:33] tlycken opened #45 "Show what part of the version number has changed"
Thanks for an awesome tool!

I think it could be even cooler, if it stole some ideas from e.g. `yarn outdated`. This is my output from there:

![image](https://user-images.githubusercontent.com/1550920/42574713-5b66cf12-851f-11e8-8b09-3f494295c7cf.png)

Note how the different colors indicate whether this is a major, minor or patch update, and makes it clear which components of the version number h

[2018-07-11 13:38] jerriep commented on #45
Yeah, I like indicating whether it is a major, minor or patch upgrade with the colors. I am busy reworking the output display at the moment to also be in a table format as in your picture, so I will look into adding the colors as well

[2018-07-11 22:06] TravisEz13 commented on #41
I'm working on 2.0 this week.  I'll verify this once I move back to 2.1.

[2018-07-12 11:17] anorborg opened #46 "Win32Exception Error on macOS"
I'm getting the following attempting to run the latest version of the tool with the latest version of the SDK. Not exactly sure what the issue is.

[code]

[code]

[code]

[code]

Any idea on what the problem is?

[2018-07-17 04:30] #16 closed

[2018-07-17 04:30] #45 closed

[2018-07-17 04:34] jerriep commented on #45
I decided to simply indicate with the color whether this is a major, minor, or patch upgrade. I think that info is enough to highlight to the user whether they should be cautious about updating a package.

![image](https://user-images.githubusercontent.com/1006420/42796609-5b1cc012-89b5-11e8-8b94-b415aadbc107.png)

[2018-07-17 05:40] tlycken commented on #45
That's a big improvement! But I really do think there's merit in coloring different parts of the version number differently, too. Maybe if you're done with your display code overhaul I could take a stab at it in a PR?

[2018-07-17 06:01] jerriep commented on #45
Yeah, sure.

[2018-07-17 08:36] jerriep commented on #45
@tlycken I did a quick test and I actually find it more difficult to read that way. In my opinion, the change in colour causes the brain to pauses for the briefest of moments which it is reading over the change in colors

![image](https://user-images.githubusercontent.com/1006420/42805725-c81b5ce8-89d6-11e8-8cb0-b7b67de7f301.png)

I think the simple red/yellow/green is enough to indicate to the us

[2018-07-17 09:14] tlycken commented on #45
@jerriep I colored mine slightly differently:

![image](https://user-images.githubusercontent.com/1550920/42807870-3feee9e4-89b2-11e8-9b47-5d11d5f25fec.png)

I find it easier to read than both the current implementation and your quick test, but I totally get it if you don't - it doesn't surprise me at all if preference for these things is very personal. I can file a PR for this change if you want,

[2018-07-17 09:20] jerriep commented on #45
Yeah sure, I'll take that PR. Using the different colors on the version number does help, I think

Just make sure you rebase before you submit your PR, since I made a few other changes in the past hour or so. If you don't your PR will likely have merge conflicts

[2018-07-17 09:22] jerriep commented on #45
I changes the color for the project names (along with a few other tweaks), which is why I suggest you rebase first

[2018-07-17 09:29] jerriep commented on #45
I like the first one best :)

[2018-07-17 09:37] jerriep commented on #45
Looking at your second version, and my attempt, I think the problem is that is just *too* colourful. Your first attempt strikes a nice balance to not overload the screen with too many colours

[2018-07-18 12:31] jerriep commented on #40
Version 2.0.0 is now available on NuGet which resolves this issue:
https://www.nuget.org/packages/dotnet-outdated/2.0.0

[2018-07-18 12:31] jerriep commented on #28
Version 2.0.0 is now available on NuGet which resolves this issue:
https://www.nuget.org/packages/dotnet-outdated/2.0.0

[2018-07-18 12:31] jerriep commented on #39
Version 2.0.0 is now available on NuGet which resolves this issue:
https://www.nuget.org/packages/dotnet-outdated/2.0.0

[2018-07-18 12:32] jerriep commented on #42
Version 2.0.0 is now available on NuGet which resolves this issue:
https://www.nuget.org/packages/dotnet-outdated/2.0.0

Thanks for the PR @thoemmi

[2018-07-18 12:32] jerriep commented on #45
Version 2.0.0 is now available on NuGet which resolves this issue:
https://www.nuget.org/packages/dotnet-outdated/2.0.0

Thanks for the PR @tlycken

[2018-07-18 12:32] jerriep commented on #16
Version 2.0.0 is now available on NuGet which resolves this issue:
https://www.nuget.org/packages/dotnet-outdated/2.0.0

[2018-07-18 13:29] Fjsmoreira commented on #46
Same here! 👍

[2018-07-18 13:48] jerriep commented on #46
I'll look into this one. I think for some or other reason the dotnet CLI is not picked up correctly in your configurations. I need to try and figure out why that happens

[2018-07-19 17:18] thomaslevesque commented on #16
@jerriep thanks, very nice!
Just one thing, though: maybe projects with no outdated dependencies shouldn't be shown at all?

[2018-07-19 22:42] jerriep commented on #16
Yeah, that's possible, I suppose. Though for me, personally, I find it better to see the project name listed with "no outdated dependencies", so I can be sure it was actually processed

[2018-07-20 12:25] fmorriso opened #50 "dotnet-outdated cannot be updated if already installed - please change that"
Please update your instructions so that people do not make the following mistake:

[code]
Try to update to the latest version:
[code]
Please update your instructions to mention that you have to perform the following command to update to the latest edition:
[code]

[2018-07-20 12:32] #50 closed

[2018-07-20 12:34] jerriep commented on #50
@fmorriso  I have updated it for you.

Next time, please consider submitting a PR. It would have taken you about the same time as opening an issue.

[2018-07-20 13:32] shatl commented on #28
Thanks!

[2018-07-21 09:35] thomaslevesque commented on #16
Fair enough!

[2018-07-26 09:33] thomaslevesque opened #51 "v2.0.0 prints an empty line for each up-to-date dependency in ConEmu"
This doesn't happen with the default Windows console. I think it might be due to this:

https://github.com/jerriep/dotnet-outdated/blob/f8f16f2c976633318d3a6caa77118c8131d01beb/src/DotNetOutdated/Program.cs#L384

[2018-07-26 10:07] jerriep commented on #51
I use ConEmu (via Cmder) and do not get the sort of behaviour you are describing.

Can you post a screenshot?

[2018-07-26 13:21] thomaslevesque commented on #51
Now I can't reproduce it anymore... It stopped after I cleared the console (using `cls`) and I can't make it happen again. I think it only happens when the console is in a certain state.

[2018-07-26 15:31] jerriep commented on #51
I know it does weird thing sometimes when you resize the window.

Closing this for now. If you can provide reproducible steps, feel free to re-open.

[2018-07-26 15:31] #51 closed

[2018-08-17 06:07] jepperc opened #55 "Filtering of nuget packages"
Hi.
Has there been any thoughts about adding a filtering parameter? I'm thinking like "dotnet test --filter sometest"
E.g. we have lots of internal nuget packages named in some way, and sometimes I would like only to upgrade those, or maybe only upgrade all microsoft packages.
"dotnet outdated --filter Microsoft.*"

[2018-08-22 14:53] gitorrin opened #56 "NullReferenceException for Net Core 2.1, SDK 2.1.302"
On Linux (Ubuntu 14.04.5), it seems the command fails.
**dotnet --info**
.NET Core SDK (reflecting any global.json):
 Version:   2.1.302
 Commit:    9048955601

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  14.04
 OS Platform: Linux
 RID:         ubuntu.14.04-x64
 Base Path:   /usr/share/dotnet/sdk/2.1.302/

Host (useful for support):
  Version: 2.1.2
  Commit:  811c3ce6c0

.NET Core SDK

[2018-08-23 06:30] simsod commented on #55
It would also be awesome if the update parameter would take this filter. That way you could update all outdated microsoft packages for example.

[2018-08-23 06:34] karl-sjogren commented on #56
We are seeing the same thing on OSX. Works fine if we reinstall with version 1.3 of the tool though.

[code]

[2018-08-23 06:43] gitorrin commented on #56
@karl-sjogren , can you please elaborate on 'reinstalling with version 1.3 of the tool'?

[2018-08-23 06:58] simsod commented on #56
@gitorrin means he ran 'dotnet tool uninstall -g dotnet-outdated' and then dotnet tool install -g dotnet-outdated -v 1.3.0'

[2018-08-23 10:45] gitorrin opened #57 "Result as Json"
Highlighting outdated references in the command prompt is great.

Would it be possible to return a Json output, as a result of the analysis?
That'd make it easier to parse and create additional logic based on the report content.

Thanks

[2018-08-29 14:56] thomaslevesque opened #58 "Exclude unsupported projects when run on a solution"
If I run dotnet-outdated on a solution that contains database projects (.sqlproj), I get the following error:

[code]

I understand that dotnet-outdated can't process these projects, but could they be ignored instead of reporting an error?

[2018-09-02 17:42] adamralph opened #59 "Attribute value casing is changed during update"
E.g. this is after running `dotnet-outdated.exe -u`.

![image](https://user-images.githubusercontent.com/677704/44958992-42bb0a80-aee8-11e8-928a-191eb3319047.png)

[2018-09-02 17:43] adamralph opened #60 "Project files are reformatted during update"
E.g. this is after running `dotnet-outdated.exe -u`.

![image](https://user-images.githubusercontent.com/677704/44959009-75fd9980-aee8-11e8-8256-56c7c18891e6.png)

[2018-09-03 03:02] jerriep commented on #60
I simply run the `dotnet add package` command, so the .NET CLI is changing your project files, not dotnet-outdated itself.

https://github.com/jerriep/dotnet-outdated/blob/e155c3e27d29e17d8dc0572f932fe405119e6cc0/src/DotNetOutdated/Services/DotNetAddPackageService.cs#L21

What happens when you run the `dotnet add package` command directly? Does that reformat your project files?

[2018-09-03 03:03] jerriep commented on #59
I simply run the `dotnet add package` command, so the .NET CLI is changing your project files, not dotnet-outdated itself.

https://github.com/jerriep/dotnet-outdated/blob/e155c3e27d29e17d8dc0572f932fe405119e6cc0/src/DotNetOutdated/Services/DotNetAddPackageService.cs#L21

What happens when you run the `dotnet add package` command directly? Does that change the casing as well?

[2018-09-03 09:05] adamralph commented on #59
@jerriep when I run `dotnet add package`, I get exactly the same behaviour. I'll send a PR to the FAQ so that you can avoid this question in the future. 😄

Thanks.

[2018-09-03 09:05] #59 closed

[2018-09-03 09:06] adamralph commented on #60
See https://github.com/jerriep/dotnet-outdated/issues/59#issuecomment-418050800

[2018-09-03 09:06] #60 closed

[2018-09-03 11:11] lonix1 opened #63 "Request: remove old packages"
New user here. I'm not sure if this is within this tool's scope.

I see that in addition to reporting outdated packages, this tool also does updates.

So it would be nice to have a "remove obsolete packages" option, to clear the project's nuget cache of old packages that were just updated. (In fact to clear all packages which are not referenced by `.csproj` files)

[2018-09-03 12:43] jerriep commented on #63
Have you actually tested this on a project? Because AFAIK, when using the new csproj file format, the NuGet packages are not placed in the project folder anymore but in a global folder:
https://docs.microsoft.com/en-us/nuget/consume-packages/managing-the-global-packages-and-cache-folders

Also, I just use the normal .NET CLI under the hood, and to my knowledge, there is no way for the .NET CLI (or

[2018-09-03 12:43] #63 closed

[2018-09-03 16:28] jerriep commented on #63
Yeah, and since they are global to **all** projects, there is no sure way for the NuGet tooling to delete them because if one project does not reference a particular version anymore, it does not mean that there is not another project on your computer which still references that version.

In any case, this is not something this tool will take care of for you and it is [also not something which the

[2018-09-04 05:27] thoemmi commented on #63
Some time ago I wrote a PowerShell script removing packages from the cache which haven't been touched for a configurable time: https://thomasfreudenberg.com/archive/2017/04/21/cleaning-nugets-cache/

[2018-09-04 06:33] lonix1 commented on #63
@jerriep Yep that makes it harder to determine what's really outdated... I think this was a poor design choice on their part. npm doesn't work this way. On an SSD that directory becomes expensive.
@thoemmi Nice script, I'll do something similar in bash.

[2018-10-11 13:15] SeriousM opened #85 "An error occurred while upgrading"
Hi!

Is there a way to enable verbose logging or something?
I have many projects where the upgrade fails and I just see "An error occurred while upgrading".

Thanks

[2018-10-11 13:43] StephenMP opened #86 "Suggestion | Allow for the ability to choose max change type for upgrade"
The upgrade option is great, however, it would be awesome if the user could specify the maximum change type they'd like to upgrade.

For example, something like:
`dotnet outdated SLN_PATH -u patch` would only update outdated packages if the upgrade is a patch change (e.g. 1.0.1 -> 1.0.4 would upgrade, 1.0.1 -> 1.1.0 would NOT upgrade, 1.0.1 -> 2.0.1 would NOT upgrade)

`dotnet outdated SLN_PATH -u

[2018-10-12 15:06] StephenMP commented on #86
The issue there is for something like CI/CD where you are running an automated build process. Generally, you do not want prompts during an automated process.

The other issue there (when not running in an automated process) is imagine you have 20+ packages and every package is out of date and you want them all to be updated, but only updated to the next patch change, you would have to answer 20+ p

[2018-10-12 16:21] jerriep commented on #86
But if it is running in CI/CD, why would you want to be "able to see ALL outdated packages"?

[2018-10-12 16:22] jerriep commented on #86
As for the other issue mentioned, this can be easily sorted by using the version-lock option.

[2018-10-15 22:01] StephenMP commented on #86
For CI/CD, since it's an automated process, you don't want prompts; however, you do want logs. It would be very beneficial to see ALL outdated packages since it could alert you to say "Hey, there are newer versions of this package", but you may not want to automatically upgrade majors since major upgrades indicate possible breaking changes. So if your automated system upgraded majors automatically

[2018-10-15 23:54] jerriep commented on #86
Let's say you're on version 1.0.1 of package A. For this package there are versions 1.0.2 and also 1.1.0 available. Now, you upgrade using your suggested `dotnet outdated SLN_PATH -u patch` command.

This will, therefore, update the package to version `1.0.2`. But as I said, 1.1.0 is also available. What should it now tell the user? This can become very confusing to the user.

Right now I am not c

[2018-10-15 23:59] jerriep commented on #86
Also, specifying the version type to upgrade in two places (the version-lock and the upgrade) flags will be confusing.

You need to come up with a better way to handle this considering the current way the application works.

[2018-10-18 15:09] #58 closed

[2018-10-19 14:47] csharpfritz opened #90 "Support for fsproj"
Love the outdated tool...  can we also use this with fsproj files?

[2018-10-20 00:41] jerriep commented on #90
@csharpfritz This was added in bf8b63ff129f4835503cc0c663792f4063080fc6. Are you still experiencing issues with this?

[2018-10-20 18:14] StephenMP commented on #86
The output would show you that 1.1.0 is available and could inform you that you've been upgraded to the most recent patch.

I don't think it's confusing at all. You as the user specifically say "I want to update patch versions only and see everything (`dotnet outdata SLN_PATH -u patch`)" or you say "I want to update patch versions only, but only see minor updates available (`dotnet outdated SLN_PA

[2018-10-20 23:52] jerriep commented on #86
I still think the way you propose currently by specifying the behaviour in two places is confusing. As it stands currently, this is not something I would implement - especially since yours is the first request for something like this.

I'll leave this request open and if a more elegant way to achieve this can be figured out I may consider it.

[2018-10-23 02:33] patros opened #93 "Suggestion - add option to fail when updates are found"
Hi, great tool. Thanks

I'd like to use it in some of my build configurations. What I'd really like is to fail a build if there are any update candidates found. The easiest way to do this would be to add a command line option to return a non-zero exit code when any updates are found.

I've had a look and it looks like it should be a pretty straight forward change. And it should help in any automat

[2018-10-23 02:35] patros commented on #93
I haven't actually built and tested the above yet. Wanted to get your opinion before really doing it.

[2018-10-23 04:04] jerriep commented on #93
Hi @patros. Yeah sure, you can submit a PR for this, thanks!

[2018-10-23 21:10] patros commented on #57
@jerriep have you given any thought to the json schema for this? I'd be happy to have a go at implementing this one if you haven't started already.

[2018-10-24 01:11] jerriep commented on #57
@patros No, I have not thought about it yet. I can give attention to it probably around the weekend, but you're also welcome to make a suggestion in the meantime (if you have time on your hands)

[2018-10-24 07:39] imperugo opened #95 "Force update only for a specific feed"
Hi,
into my nuget.config I've different feeds but I want to force the update only for one feed and not all.

Is there a way to specify the feed name to sort my issue?

Thanks

[2018-10-24 10:18] jerriep commented on #95
No there is not. The only way to achieve this would be to update the nuget.config for the project to only reference the one feed.

[2018-10-24 10:38] imperugo commented on #95
Hi @jerriep
I tried this but I think it is using also main nuget feed that I don't wont to update.

Is it possible?
Thanks

[2018-10-24 10:48] jerriep commented on #95
Yes, it is possible. You will need to explicitly tell it in your project `nuget.config` to ignore the other sources defined elsewhere by added a `<clear />` element before you declared the new sources.

See [this page](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior) for more info and some examples.

[2018-10-24 10:50] jerriep commented on #95
You may also try using the `<disabledPackageSources>` element in the document I linked to above. I have not tried it, but, reading that document, it seems like that will work as well.

[2018-10-24 13:32] patros commented on #57
Although that ^ doesn't indicate the semantic change. i.e. major, minor or patch. So need something added there. Maybe move the logic from `GetUpgradeSeverityColor` to the `Dependency` object and make it a property there?

[2018-10-24 16:01] tjrobinson opened #96 "NullReferenceException in DotNetOutdated.Services.NuGetPackageResolutionService.ResolvePackageVersions"
The solution I'm running it on uses the new SDK project format and has a mixture of `netcoreapp2.1`, `netstandard2.0` and `net462`. It's closed source so I can't link to the source unfortunately.

[code]

[code]
[code]

Thanks.

[2018-10-24 23:59] jerriep commented on #57
Yeah, you can create an `UpgradeSeverity` enum and add a property for that to `Dependency`:

[code]

Regarding the XML, yeah that is fine. For each project you will then have the Target Framework(s) listed and underneath that the list of outdated dependencies with their properties. For the `projects` node in your suggested scema, you can basically just serialize that `List<Project>` after `Analyze

[2018-10-25 00:02] jerriep commented on #96
@tjrobinson Can you please attach the offending `.csproj` file for that `Empactis.HRCM.Commands` project?

I don't want any of the source files, just the project file.

Also, have you configured any private NuGet feeds by any chance?

[2018-10-25 02:37] patros commented on #57
Cool, sounds like a plan. I'll try and knock this off over the next couple of days.

[2018-10-25 07:51] tjrobinson commented on #96
Thanks for getting back to me, here's the `.csproj`:

[code]

And yes, we have a private NuGet feed, `Nuget.config` as below:

[code]

[2018-10-25 21:46] patros opened #97 "Failing tests on linux"
These tests fail when running on linux...

[code]

Hard coded paths in the DependencyGraphServiceTests are Windows paths.

[2018-10-27 02:31] jerriep commented on #93
Closed via #94

[2018-10-27 02:31] #93 closed

[2018-10-27 03:51] jerriep commented on #96
@tjrobinson This is now available in V2.1.0 on NuGet

[2018-10-27 03:51] jerriep commented on #58
@thomaslevesque This is now available in V2.1.0 on NuGet

[2018-10-27 03:51] jerriep commented on #93
@patros This is now available in V2.1.0 on NuGet

[2018-10-27 04:08] #90 closed

[2018-10-27 04:09] jerriep commented on #90
@csharpfritz I confirmed that F# support is working correctly. There was, however, an oversight in the help messages and readme file in that it did not explicitly mention F# support. I have corrected this.

[2018-10-27 04:09] jerriep commented on #97
Closed via 69d130c89d63c8df81da513476ed27c329b17bbd

[2018-10-27 04:11] jerriep commented on #95
@imperugo I am closing this since **dotnet-outdated** simply piggy-backs on the underlying NuGet infrastructure to determine the correct NuGet feeds to use.

For clarification you can refer to [Configuring NuGet behavior](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior) which I linked to previously.

[2018-10-27 04:11] #95 closed

[2018-10-27 04:11] #97 closed

[2018-10-27 07:49] imperugo commented on #95
Hi @jerriep

Thanks for the support, I'll take a look to your suggestion.

[2018-10-27 08:55] thomaslevesque commented on #58
Nice, thanks!

[2018-10-29 07:47] karl-sjogren commented on #56
When I had this error I tried it against my current project and a completely new one (dotnet new mvc).

I've updated the SDK to 2.1.403 and installed the latest version of dotnet outdated and now it seems to work properly though. Tested it on several projects built for NetCoreApp2.0, NetCoreApp2.1 and NetStandard2.0 on OSX Mojave and they all worked fine. Even tested on a clean project (dotnet new

[2018-10-29 09:49] tjrobinson commented on #96
@jerriep Thanks, that works now 👍

Interestingly it's now struggling to find `xunit.runner.visualstudio`, but only for one of the project.

Truncated output:

[code]

The offending `.csproj` is:

[code]

But the error handling is doing it's job now which is the main thing. Thanks.

[2018-10-29 11:44] jerriep commented on #96
@tjrobinson Hmm, that is very strange 😕 Especially since that package resolves fine in other projects, and in that same project there are other packages from NuGet which resolves fine.

Do you consistently get the same result?

FWIW, there is another issue requesting more verbose logging (#85). Once I can get that in place, it may shine more light on what is going here...

[2018-10-29 13:18] tjrobinson commented on #96
@jerriep Yea, it's very strange. It happens consistently, only for that project though. I've narrowed it down to it targetting `net462` instead of `netcoreapp2.1`. If I change the project target to `netcoreapp2.1` it works fine.

[2018-10-29 13:56] patros commented on #29
@jerriep I'd be happy to have a go at this one too.

Based on the JSON output from PR #100...
`Project.Name;TargetFramework.Name;Dependency.Name;Dependency.ResolvedVersion;Dependency.LatestVersion;Dependency.UpgradeSeverity`?

[2018-10-29 21:36] TravisEz13 commented on #41
It still happened, with the same error, when I tried it, but I have another solution.  I'm just using dependabot now.

[2018-10-30 08:06] jerriep commented on #41
This seems to be due to dotnet/cli#9114

It does not appear there is much to do from my side at the moment. Need to wait for MS to see how they address this.

[2018-10-30 08:10] jerriep commented on #41
I am closing this for now. The workaround is listed here:
https://natemcmaster.com/blog/2018/05/12/dotnet-global-tools/#installing-the-net-core-cli-into-a-non-default-location

I will update the FAQ in the readme with this.

[2018-10-30 08:10] #41 closed

[2018-11-01 09:46] adamralph opened #104 "Support Directory.Build.props"
Currently, if a package is referenced in `Directory.Build.props`, `dotnet-outdated` does not analyse it.

[2018-11-03 00:48] jerriep commented on #104
@adamralph I created a test project to try this out and it works for me.

Here is the sample project I used:
https://github.com/jerriep/dotnet-outdated/tree/master/test-projects/build-props

As you can see from the screenshot below, **dotnet-outdated** does indeed analyse it and report it as outdated:
![image](https://user-images.githubusercontent.com/1006420/47946315-a5f30880-df3c-11e8-9ff1-ff0f3

[2018-11-03 00:54] jerriep commented on #57
Closes by #100

[2018-11-03 00:54] #57 closed

[2018-11-03 00:55] jerriep commented on #29
Closed by #103

[2018-11-03 00:55] #29 closed

[2018-11-03 09:55] adamralph commented on #104
@jerriep you should be able to reproduce the problem by running `dotnet-outdated` on this commit: https://github.com/xbehave/xbehave.net/commit/58a4f8437409338ac3fe1a6d9492bd5d7ae7ae9e

You can see that `MinVer` version `1.0.0-alpha.9` is referenced: https://github.com/xbehave/xbehave.net/blob/58a4f8437409338ac3fe1a6d9492bd5d7ae7ae9e/src/Directory.Build.props#L5

But `1.0.0-alpha.10` is available:

[2018-11-04 01:14] jerriep commented on #104
Hmm, interesting. With the latest version of **dotnet-outdated**, I get the following result:
![image](https://user-images.githubusercontent.com/1006420/47958955-2848fe80-e009-11e8-83ef-48e679398a58.png)

So, it is able to handle `Directory.Build.props` correctly, since it is aware of the existence of the `MinVer` package, but for some or other reason there is an error when it is trying to resolve

[2018-11-04 07:47] jerriep commented on #104
@adamralph The underlying problem is the `MinVer` package is targeting .NET Standard 2.0 while the XBehave.Core project is targeting .NET Standard 1.1. However, the `MinVer` packages is marked as a Development Dependency:

![image](https://user-images.githubusercontent.com/1006420/47961523-43cefc00-e03f-11e8-88aa-b67ae7b041fb.png)

So I should be able to ignore the target framework for this packag

[2018-11-04 09:51] #104 closed

[2018-11-04 12:30] adamralph commented on #104
@jerriep I guess you are figuring out which platforms a package depends on based on the dependency groups? The problem is, they are not reliable. All they are saying is "for platform X, I have dependencies Y". If you look inside the MinVer package, it doesn't actually ship anything platform specific, since it's just a targets file and some supporting binaries. In order to truly work out the platfo

[2018-11-04 13:07] jerriep commented on #104
@adamralph Yeah, in cases where there were no TFM it worked fine, which was how I had this solved previously. In your case the fact that the package specified a TFM was what threw a bit of a curve ball.

In any case, it appears that I can look at the `DevelopmentDependency` node in the `.nuspec` file as this appears to be the most reliable thing so far. Running the latest (beta) version on your pr

[2018-11-04 17:08] tjrobinson commented on #96
@jerriep Thanks for the update. That is a tricky one - I guess a keeping a list of known dependencies like this is one option but it's not going to work all the time and is obviously work to maintain. It could be an option for popular packages though?

[2018-11-04 23:11] jerriep commented on #96
I believe the latest version pre-release build on MyGet solves it by checking for the `DevelopmentDependency` flag in the `.nuspec` file. You can give it a try by installing it with the following command

[code]

Remember to uninstall your current version first.

[2018-11-05 15:54] tjrobinson commented on #96
That didn't go very well unfortunately, log below:

[code]

[2018-11-05 15:55] tjrobinson commented on #96
I ran it twice and diffed the results, exactly the same.

[2018-11-10 15:49] BeanMc commented on #46
same issue in ubuntu 18.08

[2018-11-15 00:48] patros opened #105 "Cannot resolve latest version from private Azure Artifacts package source"
Like issue #42 maybe?

If I add a package source credentials entry it works. But I'd prefer not have credentials in my nuget.config and be able to make use of https://github.com/Microsoft/artifacts-credprovider which is what the standard dotnet commands make use of.

Let me know if there is anything I can do to help troubleshoot this. i.e. configure a test feed, etc

[2018-11-18 23:56] jerriep commented on #105
@patros Looking at the readme on the GH repo you linked to, this seems like a fairly recent addition to how NuGet handles user authentication.

In any case, feel free to look into it if you want. My available time for working on issues in this repo is limited at the moment.

[2018-11-19 03:49] patros commented on #105
No worries @jerriep

I'll try to debug this and figure out what needs to happen.

[2018-11-29 01:05] sideproject opened #109 "Local directory nuget sources return "Cannot determine latest version!" while trying to determine latest version."
Version: 2.1.0-rtm.169+9c231c845053581c7e2fbe80d4531a029105f597

While running `dotnet outdated` on a solution that uses a local directory nuget source I see the text __Cannot determine latest version!__ and there is an error at the bottom saying __Errors occurred while analyzing dependencies for some of your projects. Are you sure you can connect to all your configured NuGet servers?__

Here is a

[2018-11-29 02:01] jerriep commented on #109
@sideproject I'll be happy to accept a PR for this, thanks!

[2018-12-02 08:49] jerriep commented on #109
Closed with #110

[2018-12-02 08:49] #109 closed

[2018-12-05 07:36] #56 closed

[2018-12-05 07:37] jerriep commented on #55
Closed with #72

[2018-12-05 07:37] #55 closed

[2018-12-20 12:17] solrevdev opened #118 "System.ComponentModel.Win32Exception: Permission denied at Interop.Sys.ForkAndExecProcess"
Getting the above error when running against the following csproj.

I think it's the ```System.CommandLine.*``` packages as I use a myget feed to get them.

[code]

This is my csproj

[code]

This is the full error

[code]

Installed dotnet versions

[code]

Running macos

[code]

[2019-01-01 11:54] adamralph opened #119 "Document benefits over `dotnet list package`"
Now that we have things like `dotnet list package --outdated`, perhaps it's worth documenting what benefits this tool provides over that.

[2019-01-01 12:32] adamralph commented on #119
@jerriep I'm not sure which version it was introduced in. I believe dotnet-outdated still offers a lot in addition though, such as updating, control over transitive deps, auto-ref'd packages, version lock, package filters, output report...

[2019-01-01 12:50] jerriep commented on #119
Thanks @adamralph. I'll look into at some point when I get a chance. Between my full-time job and a new application I am trying to launch on the side, I do not have much time for anything else these days.

[2019-01-04 13:05] fchiumeo commented on #119
apparently it is part of nuget
[Show-outdated-packages](https://github.com/NuGet/Home/wiki/Show-outdated-packages) replace by [dotnet-list-package](https://github.com/NuGet/Home/wiki/dotnet-list-package)

[2019-01-22 19:03] twcclegg opened #126 "NullReferenceException"
In Docker, container based on Centos 7:

`dotnet-outdated -u -inc=Microsoft -vl=Minor
Discovering projects...
Analyzing project and restoring packages...
Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object.
   at DotNetOutdated.Services.ProjectAnalysisService.AnalyzeProject(String projectPath, Boolean includeTransitiveDependencies, Int32 transit

[2019-01-25 09:18] torhovland commented on #126
Strangely, I'm getting this on our Azure DevOps build, using both 2.1.0 and 2.2.0, while on my laptop everything works fine.

[2019-01-25 17:59] twcclegg commented on #126
Forgot to mention this issue is intermittent, sometimes I will see 30+ successful runs but then 1-3 consecutive failures.

[2019-01-25 18:03] twcclegg opened #127 "configfile"
dotnet restore has a option `--configfile` to specify the file to serve as the nuget config file, if this could do the same that would be great.

[2019-02-14 18:15] baracoder commented on #21
I am facing this issue in a similar project: I am trying to collect all dependencies with their checksums, which I get from the lockfiles. The tools are missing from the lockfiles.
The tool packages create a lockfile in to `~/.nuget/packages/.tools/<name>/<version>/<framework>/project.assets.json`.
But this most likely differs depending on the configuration. Any ideas how this path is determined?

[2019-03-10 08:40] solrevdev commented on #118
Probably the same issue as #46 ?

[2019-04-08 14:58] acumenbody commented on #126
Have the same on Azure DevOps. It's also happens randomly. Could not reproduce intentionally. Works fine on my local workstation

[2019-04-24 09:32] akaFalsh commented on #126
The same for me. Azure DevOps fails, but works fine on my machine.

[2019-04-28 18:58] batzen opened #143 "Performance-Improvements"
Hi there,
i love this tool, but IMHO it takes way too long to analyze/list the outdated dependencies.
Even for my small project (3 project files, 2 frameworks and a few dozen dependencies) it takes 1 minute and 7 seconds to run (on my machine).
I had a look at the source code of this tool and was able to get this time down to 11 seconds.
The performance benefits from my changes should be even larg

[2019-04-29 00:15] jerriep commented on #143
@batzen I am actually not giving much attention to this anymore - so much so that just yesterday I was looking for a way to mark this project as inactive. The reasons for this are twofold:

1. I am now 100% focused on my own company I am trying to get off the ground and do not have time for much else
2. A lot of what this tool does can now be done by the built-in `dotnet list package --outdated` c

[2019-06-28 12:14] screig opened #173 "Complaining about the nuget servers"
We have an internal repo. I'm not sure if that's the issue, but something seems to be wrong, the following CLI call detects the new package:

`dotnet list package --outdated`

![image](https://user-images.githubusercontent.com/4292074/60341445-72bb2900-99a6-11e9-863e-e5d95d346b7a.png)

but the **dotnet outdated** call fails.

[2019-06-28 13:11] screig commented on #173
Downgrading to version 2.2.0 fixed this

[2019-06-28 15:33] jerriep commented on #173
All I can suggest is that you download the code, run it inside VS code and see whether you can somehow debug this.

There is no way I can possibly debug this against your internal nuget server.

If you're willing to do that, please open a PR. If you are not, then please close this issue.

[2019-06-30 16:04] #173 closed

[2019-07-19 15:50] philwindsor commented on #126
Also receiving this on an Azure DevOps build agent

[code]

[2019-08-13 13:52] DrakeLambert opened #187 "Win32Exception: Access is denied"
Getting the following error after running `dotnet outdated` on both the project and sln level.

OS: Windows 10 Pro, Version 1809, Build 17763.615
CPU: Intel i7-8750H

[code]

This could possibly be related to #46

[2019-08-19 18:47] abbotware opened #188 "Updated nugets from private repo not shown"
Seems like a regression may have happened as this seemed to be a previous issue.

I am using a solution with a nuget.config file. if I open a command prompt in the root of the solution and type:
`dotnet list package --outdated`
i see my nuget updates from a private Nexus OSS repo.  Also works fine from Visual Studio

if a type:
`dotnet-outdated `

it only lists updates from nuget.org and not the p

[2019-08-19 19:01] abbotware commented on #188
I downloaded the source and am running it - it appears to list the feed correctly in the code: GetEnabledSources - no exception is thrown - so not sure where it is going wrong yet...

[2019-08-19 19:27] abbotware commented on #188
Looks like a simple fix - see the PR - I will be testing the upgrade functionality to see if there are any issues with code

[2019-08-19 19:33] abbotware commented on #188
I can confirm that filtering and upgrading the nugets works :-)

I'll be using a private build so no rush on the merge!

[2019-08-22 13:50] abbotware opened #190 "Error running from CI Tools (Window Service)"
It appears that I can't run dotnet-outdated from a CI Tool / Windows Service (GoCD specifically).

The script I have written works fine from the command prompt, but fails with the error message:

[code]

Since this is running as a windows service, its a lot harder to attempt to recreate and debug... is there any way I can get diagnostics to see what the 'error' was?

[2019-08-22 15:16] abbotware commented on #190
it seems that I am no longer getting this error! :-)

[2019-08-22 15:16] #190 closed

[2019-08-23 01:20] jerriep commented on #190
Yeah. sadly there is no proper way to diagnose issues like these. I need to add more verbose logging in cases like this

[2019-09-09 07:40] jerriep commented on #188
Closed with #189

[2019-09-09 07:40] #188 closed

[2019-09-18 09:27] ransagy commented on #105
I have opened a PR to add basic support for this scenario https://github.com/jerriep/dotnet-outdated/pull/199

[2019-09-24 01:49] khteh opened #203 "3.0 SDK"
[code]

[2019-09-24 01:50] jerriep commented on #203
Yes, you need to install the .NET Core 2.1 SDK

[2019-09-24 01:50] #203 closed

[2019-09-24 02:29] khteh commented on #203
Any plan to support 3.0?

[2019-09-24 02:31] jerriep commented on #203
I am not sure how multi-targeting works with .NET Global tools, so I cannot give you an answer on that.

For now, simply install the .NET Core 2.1 SDK

[2019-09-26 20:57] ransagy commented on #105
This has been merged in the latest release. Feel free to test and close @patros :]

[2019-09-26 23:36] patros commented on #105
Great work @ransagy

[2019-09-26 23:36] #105 closed

[2019-09-27 18:56] alexdresko commented on #23
Still happening

[code]

[code]

[2019-09-28 00:43] jerriep commented on #23
@alexdresko Are you sure that that project is in fact a .NET SDK project?

Can you post the .csproj file here?

[2019-10-23 20:32] scabana commented on #105
Hi, just tried it. It wasn't working for me, giving this error: ```Errors occurred while analyzing dependencies for some of your projects. Are you sure you can connect to all your configured NuGet servers?```. Took a look into the code and found out this: https://github.com/NuGet/NuGet.Client/blob/eb135ec42a4b04c5a87f7938755fe02b37da01c8/src/NuGet.Core/NuGet.Protocol/Plugins/PluginFactory.cs#L168,

[2019-10-23 20:35] scabana commented on #105
@ransagy seems like something might be missing for this one: https://github.com/NuGet/Home/issues/7438#issuecomment-434402124 seems like it's expected to be set by the caller.

[2019-10-23 20:40] ransagy commented on #105
Hah. Now that you mentioned it, I did come across this, but not in this tool, rather a different one that does some NuGety things as well. I didn't find any particular helpful response to why not - https://github.com/NuGet/Home/issues/7438

[2019-11-11 12:38] Kalina9001 commented on #126
Same issue?
Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object.
   at DotNetOutdated.Core.Services.ProjectAnalysisService.AnalyzeProject(String projectPath, Boolean includeTransitiveDependencies, Int32 transitiveDepth) in C:\projects\dotnet-outdated\src\DotNetOutdated.Core\Services\ProjectAnalysisService.cs:line 49
   at DotNetOutdated.Program.

[2019-11-13 21:48] svdoever commented on #22
Any idea how to handle NuGet feed from DevOps when two-factor authentication is used?

[2019-11-13 23:37] jerriep commented on #22
@svdoever No, I do not. Try reaching out to the DevOps support and find out from them whether there is a way around that. Perhaps they have some sort of permalink URL linked to your specific account that you can use.

[2019-11-13 23:39] svdoever commented on #22
Ok thank, wil try to contact them. I will try to add a step to the DevOps build pipeline, maybe that in that case we are running in the correct context...

[2019-11-14 00:31] jerriep commented on #22
@svdoever MyGet has a concept called [pre-authenticated feeds](https://docs.myget.org/docs/reference/feed-endpoints). Maybe Azure DevOps has something similar?

[2019-11-16 18:11] ysangkok opened #222 "Update readme for newest Net Core"
I tried various ways of running the tool, but I can't get it to work. It is confusing that the screenshot is showing syntax that is apparently no longer valid?

[code]

[2019-11-16 23:39] jerriep commented on #222
I have never tried this with .NET Core 3.x, so it likely does not support a scenario where you only have it and not 2.x installed.

If you want to update it to support 3.x, I am happy to accept a PR, as long as you maintain backward compatibility to 2.x

[2019-11-17 07:21] christophwille opened #223 "Question: depguard-alike for .NET"
I might have missed the obvious, but I haven't found a .NET equivalent of Go's depguard - https://github.com/OpenPeeDeeP/depguard (if you know of such a build task/tool/VS extension please let me know; OWASP & Snyk do also scan dependencies, but again for different purposes)

Given that dotnet-outdated does scan transitive packages, would be building such a functionality on top of its implementati

[2019-11-17 10:13] jerriep commented on #223
From what I understand from the description of depguard, this is not something that fits into the scope of this tool and thus does not make sense to add it

I would suggest looking through this [list of .NET Global tools](https://github.com/natemcmaster/dotnet-tools) to see whether there is already something that does this. If not, you can attempt to build it yourself.

A lot of the functionality

[2019-11-17 10:13] #223 closed

[2019-11-18 15:54] christophwille commented on #223
@jerriep fyi https://github.com/christophwille/dotnet-depguard

[2019-11-19 16:38] ahryshchanka opened #224 "Can't run, required framework 'Microsoft.NETCore.App', version '2.1.0' only"
try execute:
[code]

list of available sdks:
[code]

list of available runtimes:
[code]

os info:
[code]
changes in this [line](https://github.com/jerriep/dotnet-outdated/blob/b2c9e99c530a64e246ac529bbdc42ddde19b1e1a/src/DotNetOutdated/DotNetOutdated.csproj#L5) will solve issue, but I don't know what is valid solution:
1] `<TargetFramework>netcoreapp2.1;netcoreapp3.0</TargetFramework>`
or
2] `<Tar

[2019-11-19 17:53] ahryshchanka commented on #224
possible solution and PR #225

[2019-11-20 08:22] ahryshchanka opened #227 "CI build broken"
Hi.

I did small changes in packages, but can't build new version of app in other PR.
![image](https://user-images.githubusercontent.com/4180472/69221188-bbf35b80-0b87-11ea-830a-588891d62f52.png)
build were broken after small code cleanup

I did small investigation and looks like url for download .net were changed. Current url allow download some html page.
![image](https://user-images.githubuserc

[2019-11-20 08:26] ahryshchanka commented on #227
fix in PR #226 Please merge it first

[2019-11-20 08:30] ahryshchanka commented on #222
PR #225 created

but please merge first #226 , this implementation depends on ##227 and #226 and will be better to close this in the end, after others (I suppose it will be merged without problems)

[2019-12-02 07:59] #224 closed

[2019-12-02 08:00] jerriep commented on #222
v2.7.0 now supports .NET SDK 3.0

[2019-12-02 08:00] #222 closed

[2019-12-02 08:01] #227 closed

[2019-12-04 07:35] doggy8088 opened #228 "Feature request: Check global tool versions"
You can list all the installed global tools, but there is no way to check some of the global tool been outdated.

[code]

It actually all global tool are installed from NuGet. So I suggest maybe `dotnet-outdated` can support a `--global` option to check all the version of the installed global tools and provide update command in the list.

[2019-12-04 08:32] jerriep commented on #228
@doggy8088 Thank you for the suggestion. I will be happy to accept a PR for this

[2019-12-26 13:16] bdn-mca opened #236 "Feature request: I want dotnet-outdated to fail if the new version of the package is older than X days"
We are using dotnet-outdated in our CI pipeline as it is a great tool for DevSecOps to ensure we have our nuget packages in the project always up to date.

However, there are some packages that have new updates almost on daily basis, and it slows down development and breaks all our CI builds - so  the development team needs to urgently react on every single update.

Is there a problem in adding a

[2019-12-27 04:43] jerriep commented on #236
Hi Boris, this sounds like a useful feature, but it is not something I have the time to implement now. If you want to take a stab at implementing it, I would be happy to accept a pull request.

[2019-12-31 15:29] dmundra commented on #126
I ran into this issue as well. I switched to https://nukeeper.com/ for Azure DevOps and it works.

[2020-01-02 13:35] jerriep commented on #236
Added in #237

[2020-01-02 13:35] #236 closed

[2020-01-07 15:18] mrmartan opened #242 "'Older than' switch causes error for latest prerelease version of packages"
[code]

This does not happen when I remove the `-ot 14` switch. I am targeting two nuget sources. One is the official `api.nuget.org` and one is custom instance of https://github.com/NuGet/NuGet.Server/releases/tag/3.4.1

[2020-01-07 17:41] mrmartan commented on #242
I just found out this is happening even for the api.nuget.org feed. In this case the `prometheus-net.AspNetCore` package is breaking.

[code]

[2020-01-07 17:46] mrmartan commented on #242
I am using dotnet-outdated v2.8.0 on Linux with dotnet 3.0.100 SDK

[2020-01-08 00:32] jerriep commented on #242
@mrmartan Thank you for reporting this. I will look into it but the soonest that may happen is the weekend. For now, I suggest you downgrade to version 2.7.0 before this new switch was introduced

[2020-01-08 12:38] mrmartan commented on #242
To clear up, I do not need to downgrade. Just not using `-ot` switch is enough. I do want to use it though.

[2020-01-08 12:47] jerriep commented on #242
Aaah OK. Thank you for the clarification

[2020-01-08 14:18] bdn-mca commented on #242
I have also reproduced this bug after updating dotnet-outdated to version 2.8.0.
However, I could not reproduce this locally after forking the repo - both with Debug and Release build configurations.

Is it possible it's a CI issue?

[2020-01-08 14:37] mrmartan commented on #242
Happens to me when using the installed dotnet tool on Windows as well.

This is just a shot in the dark but could it be happening for packages that have prerelease versions older than X in `-ol X` yet there is `-vl` switch as well?

[2020-01-12 11:33] ad-mca-mk commented on #143
@batzen are you interested in providing a PR for the performance improvements you described?

[2020-01-13 06:43] vilinski opened #245 "Unhandled NullReferenceException"
Steps to reproduce:

[code]

[2020-01-13 06:50] jerriep commented on #245
@vilinski You need to give more information than that. If you have more info to share, feel free to reopen

[2020-01-13 07:10] vilinski commented on #245
yes sorry, clicked enter to early )

[2020-01-16 08:47] StefanBertels opened #248 "Is there a way to exclude (non-maintained) projects in a solution?"
Sometimes I add a library project to my solution I don't maintain (e.g. using source version instead of NuGet package).

Is there a way to skip updates for those projects? I'd like to avoid running `dotnet outdated` for every of the other projects in the solution explicitly.

On file level I use `git submodule` to embed the project -- ideally a solution would work without modifying files in that p

[2020-01-16 08:59] StefanBertels opened #249 "Is there a way to skip updates of version ranges to specific versions?"
Given I have a solution with two projects: a console application that references the second project which is a class library (MyClassLib)

The class library MyClassLib.csproj contains:
[code]

The console project (main) contains:
[code]

As both projects reference the same package (`System.Reactive` in this example) some conflict resolution will find a "best" version number (by default this is som

[2020-01-22 20:22] tillig opened #255 "Add support for NuGet credential providers"
NuGet supports the ability to [use credential providers](https://docs.microsoft.com/en-us/nuget/reference/extensibility/nuget-cross-platform-authentication-plugin) like the [Azure Artifacts credential provider](https://github.com/Microsoft/artifacts-credprovider) when working with secure feeds. This allows people to not have username/password entries in nuget.config.

It would be nice to have that

[2020-01-23 01:49] jerriep commented on #255
The believed that #199 resolved this. Have you tried using the Azure Artifacts Credentials provider?

[2020-01-23 01:52] tillig commented on #255
Yeah, I can `dotnet restore` and such using the provider, but `dotnet outdated` reports it had trouble accessing those feeds. It's what prompted me to file the issue.

Are there diagnostic logs or something I can provide?

I'm on a Mac, unsure if that matters for the location algorithm.

[2020-01-23 01:57] jerriep commented on #255
Unfortunately, I do not use Azure Artifacts, so this is not something I can test. Also, there are no proper diagnostics logs you can turn on :(

Maybe you can clone the dotnet-outdated repo and run it inside the debugger against your project to try and debug the underlying issue. Since I do not use Azure Artifacts and don't have a Mac, this is not something I can really debug myself.

If you can l

[2020-01-23 02:01] jerriep commented on #248
There is no way to do this at the moment.

[2020-01-23 02:04] tillig commented on #255
OK, let me see what I can do.

[2020-01-23 02:06] jerriep commented on #249
Hmm, `dotnet-outdated` has no logic to handle something like this. It treats every project on an individual basis and does not understand inter-project relationship like you described.

Having said that, it is able to handle `Directory.build.props` files as can be seen in this little test project:
https://github.com/jerriep/dotnet-outdated/tree/master/test-projects/build-props

You can read up on

[2020-01-24 17:15] tillig opened #256 "Output more information about failed updates"
Scenario: You have a library project and a unit test project. The unit test project has a `ProjectReference` to the library. Both target `netcoreapp3.0`. As part of an upgrade task, you switch the library project to `netcoreapp3.1`. You run `dotnet outdated` and get a list of outdated references. Then you run `dotnet outdated -u` to upgrade things.  In the output you see:

[code]

The problem is t

[2020-01-27 17:08] mrmartan opened #257 "[Proposal] Option to list packages even when the latest version is installed"
This might be the reverse of what was done previously but I am looking for a way to report on all used packages (across a large number of project), sometimes not only those that need updating. `dotnet list package` would be ideal for that if it had some machine friendly output. Unfortunately it does not while `dotnet-outdated` does.

I might be able to do a PR if that is desirable. I suppose it wo

[2020-01-28 01:12] jerriep commented on #257
I understand the temptation to just add this option as it is _so close_ to what this tool already does, but simply listing installed NuGet packages is outside of the scope of this tool. The purpose of this tool is to list and update **outdated** packages.

I think it is best to address this by maybe creating another tool. The core functionality of this project is available as a library which you a

[2020-01-28 01:12] #257 closed

[2020-01-28 22:11] tillig commented on #255
Research update:

I added a temporary `ConsoleLogger` to the credential setup line:

[code]

Stupid simple logger just to get some information out.

[code]

That logs some info that points to the issue:

[code]

You get more information with the 5.4.0 versions of the NuGet libraries than 5.1.0. which is what the project currently references. However, the upgrade doesn't fix anything so I rolled ba

[2020-01-28 22:57] tillig commented on #255
I figured it out. [It's this issue.](https://github.com/NuGet/Home/issues/7438)

The [`PluginFactory` assumes there's an environment variable `DOTNET_HOST_PATH`](https://github.com/NuGet/NuGet.Client/blob/0ba1a97052d9ba3f581bab5ab173270dac6681f0/src/NuGet.Core/NuGet.Protocol/Plugins/PluginFactory.cs#L168) set, but there's not.

In PowerShell Core, I can do this:

[code]

With that, `dotnet outdate

[2020-01-29 18:14] winiciuscota opened #260 "Is there a way to change to specify the build configuration?"
I have a few packages inside a block like this:

[code]
I can specify wether the packages should be used with the option -c on dotnet build(and publish) or /property:Configuration=Release on dotnet restore

I Couldn't find any option like that for dotnet-oudated. Currently the packages specific to release configuration are just being ignored.

Is there anyway to achieve this with dotnet-outdated?

[2020-01-30 01:03] jerriep commented on #260
There is currently no way to achieve this

[2020-01-30 01:05] jerriep commented on #255
Thank you for the analysis @tillig

My time is limited at the moment, so if you want to create a PR as suggested, I will appreciate it

[2020-01-31 21:15] tillig commented on #255
[PR submitted.](https://github.com/jerriep/dotnet-outdated/pull/264)

[2020-02-02 02:02] #255 closed

[2020-02-03 11:56] mrmartan commented on #257
What libraty is that? Do you mena the `DotnetOutdated.Core`?

[2020-02-03 12:11] jerriep commented on #257
Yes

[2020-02-03 16:56] mrmartan commented on #257
AFAICT the reporting fuctionality is in the `DotnetOutdated` package anyway. So unless you would want to refactor that I am OK with forking this and building my own version. I am installing and using the tool from Docker image in CI/CD anyway so I don't care whether it comes from nuget.org repository or elsewhere.

Could you perhaps just point me where would be best to amend the tool to report all

[2020-02-04 10:26] mrmartan commented on #242
So I have found the bug or narrowed it down. And it does not relate to 'Older than' switch. Rather it is connected to `FrameworkReducer`, dependency sets and (I assume here) how some packages publish metadata.

This is the problematic part - https://github.com/jerriep/dotnet-outdated/blob/master/src/DotNetOutdated.Core/Services/NuGetPackageInfoService.cs#L106 - I think it is an incorrect or uninte

[2020-02-04 12:52] jerriep commented on #242
@mrmartan Thank you for tracking it down. I will look into this when I get a chance to properly commit my attention to it

[2020-02-08 06:32] batzen commented on #143
Will try to prepare a PR for this.

[2020-02-09 02:36] jerriep commented on #143
v2.10.0 has been pushed to NuGet with these changes. This is a MASSIVE speed improvement. Thanks again @batzen

[2020-02-09 02:36] #143 closed

[2020-02-26 18:57] gitfool opened #273 "Update packages.lock.json when no outdated dependencies were detected"
Related to https://github.com/dependabot/dependabot-core/issues/1303, I merged a Dependabot PR, and wanted to manually update the `packages.lock.json` after the fact, so I pulled the latest changes and ran `dotnet-outdated`.

`dotnet-outdated` correctly stated "no outdated dependencies were detected", however it did nothing else, and it would be really helpful if it _still_ updated any `packages.l

[2020-02-26 19:22] gitfool commented on #273
PS. I haven't looked into AppVeyor, but if you were to integrate this project with GitHub Actions, and cache NuGet packages, then it would need to generate and commit `packages.lock.json` files, and this pain point would be front and center, since this project uses Dependabot. 😉

If you were interested, the GitHub Actions [build](https://github.com/gitfool/Cake.Dungeon/blob/master/.github/workflow

[2020-02-27 18:45] symbiogenesis opened #274 "After clearing Nuget cache, dotnet-outdated fails until restore is called"
If you call:

`dotnet nuget locals all --clear`

then dotnet-outdated fails. But a restore will fix it. This should be handled automatically.

[2020-03-03 06:22] Craige opened #275 "dotnet-outdated clobbers version constraints in .csproj"
Does `dotnet-outdated` have to clobber the version constraints in `.csproj` files? When running `dotnet outdated`, the version constraints are updated to the latest static version matching the version constraint supplied by the command line args. This completely removes the intentional constraints on versions supplied in the .csproj.

For example, if you specify a version of constraint of "1.*" in

[2020-03-03 08:14] jerriep commented on #275
Hi @Craige ,

Yeah, you are sorta mixing two things by specifying a version range constraint and then using `dotnet-outdated` against the project. By specifying a constraint, you are intentionally specifying a valid range of version numbers and when you run `dotnet restore`, that version range will be honoured.

When you now run `dotnet-outdated`, it will look for newer versions - even ones outsid

[2020-03-03 08:15] jerriep commented on #274
This may be a result of the recent PR to improve the speed. When I have a chance, I will test, see whether I can reproduce and fix the issue

[2020-03-03 08:18] jerriep commented on #273
@gitfool I have honestly not looked at the `packages.lock.json` file and I do not yet understand the full impact of it.

I am curious however as to why the `packages.lock.json` should be updated when `dotnet-outdate` finds no newer version? Can you please explain with an actual example of what the issue is?

[2020-03-03 19:18] Craige commented on #275
Kind of, but not really. If you use a NuGet lock file for instance (a good practice for repeatable builds),  packages are pinned at a specific releases unless explicitly upgraded by the developer. `dotnet restore` would not restore perform any upgrade of packages.

Actually, I think the proper course of action in cases where the version constraint isn't a static release would be to pass in the dev

[2020-03-04 00:29] jerriep commented on #275
I am not quite sure what it is you propose here. The `dotnet add package` command takes a specific version number. I cannot pass a version range to it.

In any case, I will take a little time to think this over to try and come up with the best solution.

[2020-03-04 00:33] gitfool commented on #273
Well I'm confused now. I went through a series of steps to replicate the issue and the opposite happened... `dotnet-outdated` did update the `packages.lock.json` despite saying "no outdated dependencies were detected". 😕
[code]

[2020-03-04 01:29] jerriep commented on #273
Maybe previously you used an older version of the .NET Core CLI or NuGet CLI that did not support generation of the `packages.lock.json` file yet?

[2020-03-04 02:58] Craige commented on #275
`dotnet add` will accept any version range as outlined [here](https://docs.microsoft.com/en-us/nuget/concepts/package-versioning#version-ranges). It does not require a static release number.

is perfectly valid, for example, as is:

Tested and confirmed on my machine using DotNet Core 3.1

[2020-03-11 15:22] steveoh opened #280 "Tool requires 2.1.0"
I updated to .net core sdk 3.1.2 and cleared out all other versions and this tool no longer runs. Can we update it to work on dotnet core 3 without affecting 2 users?

[code]

[2020-03-12 02:54] jerriep commented on #280
Hi @steveoh

Support for .Net Core 3.0 (alongside 2.1) was added a few months ago in version 2.7. I am not sure whether 3.0 would work with 3.1, but until explicit support for 3.1 is added, please try the following:

1. Uninstall your version of `dotnet-outdated` and try and see whether you can install the latest version which has support for 3.0
1. If you cannot do that, please install the 3.0 SD

[2020-03-12 15:46] steveoh commented on #280
Oh yes I have updated since your version 2.2.0 oops ;)

[2020-03-12 15:46] #280 closed

[2020-03-31 02:10] foriequal0 opened #290 "GetAllVersions for some package is empty."
This is a minimal reproduction.
[archive.zip](https://github.com/jerriep/dotnet-outdated/files/4406324/archive.zip)

[code]

[code]

`Errors occurred while analyzing dependencies for some of your projects.` is raised because of `UpgradeSeverity` for `Microsoft.VisualStudio.Azure.Containers.Tools.Targets` being `DependencyUpgradeSeverity.Unknown`.
It turns out that `NuGetPackageInfoService.GetAllVe

[2020-03-31 03:04] jerriep commented on #290
@foriequal0 Thank you for reporting as well as the repro. I can confirm that I can reproduce the error on my side.

At this moment I do not have much available time to look into this, so if you have time available to look into this, I will appreciate a pull request.

[2020-04-06 04:10] foriequal0 commented on #290
https://github.com/jerriep/dotnet-outdated/blob/master/src/DotNetOutdated.Core/Services/NuGetPackageInfoService.cs#L75
`compatibleMetadataList` in `GetAllVersions` contains a correct list of versions. However, they only contains '.NET Framework 4.6.1` in `DependencySets`. `FrameworkReducer.GetNearest` returns `null` when inputs are `GetNearest(.NETCoreApp,Version=v3.1, [.NETFramework,Version=v4.6.

[2020-04-11 14:49] Happypig375 opened #299 "dootnet-outdated claims that a netcoreapp3.1 project is not a valid project"
See: https://github.com/verybadcat/CSharpMath/runs/579153295
Project: https://github.com/verybadcat/CSharpMath/blob/master/CSharpMath.Xaml.Tests.NuGet/CSharpMath.Xaml.Tests.NuGet.csproj

[2020-04-11 14:57] Happypig375 commented on #299
Problem gone upon rerunning. Seems unreproducible.

[2020-04-11 15:14] Happypig375 opened #300 "The argument of -pre is required even though it should default to Auto"
From https://github.com/verybadcat/CSharpMath/runs/579196760,
Command: `dotnet outdated -pre -u CSharpMath.Xaml.Tests.NuGet`
[code]

[2020-04-11 15:39] Happypig375 commented on #299
It happened again: https://github.com/verybadcat/CSharpMath/runs/579234220?check_suite_focus=true

[2020-04-11 15:40] Happypig375 commented on #299
Not every run will have this error, but sometimes this occurs

[2020-04-13 17:58] Happypig375 commented on #299
Again https://github.com/verybadcat/CSharpMath/runs/583248492

[2020-04-28 02:57] foriequal0 opened #313 "Can't upgrade projects with `RestoreLockedMode`"
It would be better to have an option to pass `--no-restore` to `dotnet add` command. I can do `dotnet restore --force-evaluate` later then.

[2020-04-28 23:02] jerriep commented on #313
Hi @foriequal0, can you please expand on the issue. I am not familiar with `RestoreLockedMode` and what the effects of that is and how this is creating problems for you.

[2020-04-30 12:33] foriequal0 commented on #313
I lock versions of package references using `RestorePackagesWithLockFile` flag that creates `packages.lock.json` on restoring. It holds resolved exact versions of packages while package references declare ranges of versions.

I always can restore exact same versions of packages with my local dev environment in the CI/CD environment since restoring tries to use the lock file to get exact versions o

[2020-04-30 23:57] jerriep commented on #313
Ok, thank you for the clarification. So I think the best would be to add a `--no-restore` option for `dotnet-outdated`, in which case it will call `dotnet add` with the `--no-restore` option.

I do not have much time to spend on this project at the moment. If you want to take a stab at it and submit a PR, I would be happy to accept it

[2020-05-04 13:33] jnm2 opened #319 "Support updating package references in Directory.Build.props"
It's common for me to specify analyzers that I want to apply to all projects in the solution using Directory.Build.props. (See https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build#directorybuildprops-and-directorybuildtargets.)

When `dotnet outdated -u` runs, it produces "An error occurred while upgrading" for each project in the solution. What I'd expect is for it to unify

[2020-05-04 13:37] jnm2 commented on #319
Also, this is reminiscent of a direction that the SDK is taking with the [Directory.Packages.props first-class feature](https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions).

[2020-05-04 13:53] jnm2 commented on #300
@Happypig375 An option is leaving out `-pre` because it defaults to `Auto`.

[2020-05-04 14:36] jerriep commented on #319
@jnm2 Under the covers, `dotnet-outdated` simply calls the `dotnet add package` command to upgrade the packages. So support for something like this is dependent on the .NET Core SDK. Once they add support for it, which it seems that will be doing if I read the document you linked to above correctly, then `dotnet-outdated` can support it as well

[2020-05-04 14:37] jnm2 commented on #319
Thanks!

[2020-05-04 14:37] #319 closed

[2020-05-04 14:38] jerriep commented on #300
@Happypig375  The error message tells you what to do. Specify the correct value for the `-pre` option and the error will go away.

[2020-05-04 14:38] #300 closed

[2020-05-04 14:40] jerriep commented on #319
@jnm2 You're welcome to keep this issue open if you want, so it can be confirmed that it works when the SDK adds support for it. There just won't be any movement on it until then.

[2020-05-04 14:43] jnm2 commented on #319
Cool. I'm fine waiting until I know there's a problem, but feel free to reopen if you want to use this as a tracking issue to confirm that it works.

[2020-05-07 01:47] #313 closed

[2020-05-10 07:50] AraHaan opened #325 "does not seem to pickup and use the sources in my nuget.config file in the current directory."
[code]

Also it seems it does not list whatever the current version is on the ``GitBuildInfo`` despite it being on nuget.org itself and nowhere else.

[2020-05-10 07:55] AraHaan commented on #325
Also it probably should check to see if the update supports that specific ``TargetFramework`` first before reporting it to the console.

[2020-05-15 07:46] StrangeWill opened #326 "Prevent A Package From Going Beyond A Specific Version"
We're running into this issue due to a 3rd party lib (EEPlus) moving to a commercial lib -- in this case 5.x got relicensed to non-commercial only and need to keep it below v5. Running `dotnet outdated` requires us to keep catching that we don't accidentally upgrade to it.

Things like #275 could _possibly_ work for us (though it causes blind updates) if dotnet-outdated didn't squash it, but it ca

[2020-05-22 08:54] bdn-mca opened #327 ""Are you sure you can connect to all your configured NuGet servers?" wrongly occurs if "OlderThan" is used with newly installed package"
Steps to reproduce:
1. Set "-ot" to 10 (or any number of) days
2. Install a package that is released within 10 days (say, a 2-3 days old package)
3. Run dotnet-outdated

BUG:
- dotnet outdated will report "Errors occurred while analyzing dependencies for some of your projects. Are you sure you can connect to all your configured NuGet servers?"

EXPECTED:
- No error is reported

[2020-05-24 15:45] Happypig375 commented on #299
It's still happening...
https://github.com/verybadcat/CSharpMath/runs/704000088

[2020-05-24 15:49] Happypig375 commented on #299
It's so bad that I must re-run GitHub Actions a few times per commit to get a green check mark.

[2020-05-27 11:55] wwdenis opened #329 "PackageReference duplicated on MSBuild projects"
## Issue
When trying to upgrade a Classic .NET project (msbuild), the entry `PackageReference` is duplicated instead of being updated.

## Steps to Reproduce

![MSBUILD_DUPLICATED](https://user-images.githubusercontent.com/21691662/83015874-665da700-a021-11ea-9152-2e1b7edeb530.gif)

## Foo.csproj

[code]

## Technical Information
- dotnet version 3.1.100
- Windows 10 Pro Build 18363.836

[2020-05-27 12:04] jerriep commented on #329
Under the hood, dotnet-outdated simply runs the `dotnet add package` command.

What happens when you run `dotnet add package Sentry -v 2.1.1` directly against your project?

[2020-05-27 15:45] Dave-EMIS commented on #299
I think I've noticed the same issue, just started using `dotnet outdated` on GH actions, first 2 runs it failed with the following:

[code]

N.B. it is a private project that I can't share, so I've sanitised the names of the repo / projects.

The third run, it has passed OK, fourth failed again.

Not really sure what else I can add.

Works fine on WSL Ubuntu 18.04 on a fresh clone of the repo.

[2020-05-27 15:48] Happypig375 commented on #299
@Dave-EMIS I currently use a retry mechanism for now
https://github.com/verybadcat/CSharpMath/blob/03de1a2afefb8096def99398126e0cb3daf2f46a/.github/workflows/Test%20all%20projects.yml#L22-L30

[2020-05-29 09:56] wwdenis commented on #329
Same issue @jerriep (do not remove the old reference)
I believed the `--upgrade` parameter would call `dotnet remove package` then `dotnet add package`

There's a way to achieve this in the current version?

[2020-05-29 10:14] jerriep commented on #329
Leaving the old package reference in place is not normal behaviour. This is the first time that I have heard of this behaviour you are describing.

Explicitly removing and then re-adding the package is not currently possible with `dotnet-outdated` and I see no reason to change the behaviour to work this way based on one isolated incident. Even the .NET Core CLI documentation states that calling `d

[2020-05-29 10:14] #329 closed

[2020-05-29 11:32] MovGP0 commented on #21
this issue is still open in v1.11.0 :-(

[2020-05-29 12:05] jerriep commented on #21
@MovGP0 I assume you mean v2.11.0?

So what is keeping you from fixing it a submitting a PR? You do realise that this is an open-source project, right?

[2020-05-29 13:20] Happypig375 commented on #299
Here's the retry mechanism in Action (pun intended)

[2020-06-03 16:07] MylesFTOP commented on #299
I'm seeing the same result as @Dave-EMIS, except I've not had it pass yet on Github Actions after several re-runs (I'm literally only passing the target folder, not even attempting to use it to upgrade yet). Runs absolutely fine locally in the repo on my machine.

I am a little curious about the ` at the start of the path. I've not used PS much in a while, so I'm not familiar on the use of backtic

[2020-06-04 15:32] Happypig375 commented on #299
Never tried. I don't use `dotnet list package --outdated`.